{% extends 'partials/base.html' %}

{% block main_content %}
        <main>
            <div class="container">
                <h3 class="page-header">Book Listing</h3>
                <h2>{{description}}</h2>
            </div>
             <div class="page-body">
                
                <!-- Basic table card start -->
                <div class="card">
                    <div class="page-header">
                    <a class="btn btn-sm btn-info pcoded-mtext" href="{% url 'books:book_create' %}"><span
                            class="ic-arrow-left"></span>ADD a Book</a>
                    </div>
                    {% comment %} <div class="card-header">
                        <h5>Basic table</h5>
                        <span>use class <code>table</code> inside table element</span>
                        <div class="card-header-right">    <ul class="list-unstyled card-option">        <li><i class="icofont icofont-simple-left "></i></li>        <li><i class="icofont icofont-maximize full-card"></i></li>        <li><i class="icofont icofont-minus minimize-card"></i></li>        <li><i class="icofont icofont-refresh reload-card"></i></li>        <li><i class="icofont icofont-error close-card"></i></li>    </ul></div>
                    </div> {% endcomment %}
                    <div class="card-block table-border-style">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Book Name</th>
                                        <th>Author</th>
                                        <th>Published Date</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for book in book_list %}
                                    <tr>
                                        <th scope="row">{{ forloop.counter }}</th>  
                                        <td>{{book.name}}</td>
                                        <td>{{book.author.name}}</td>
                                        <td>{{book.published_date}}</td>
                                         <td>
                                    <div class="input-group input-action">
                                        <a class="btn btn-icon-only action-info" href="{% url 'books:book_update' pk=book.pk %}" data-toggle="tooltip" data-placement="top" title="Edit">
                                            <i class="ic-edit"></i>Edit
                                        </a>
                                        {% comment %} <button
                                            class="btn btn-icon-only action-danger"
                                            data-toggle="modal"
                                            data-target="#deleteModal"
                                            data-placement="top"
                                            id="{{ book.id }}"
                                            href="{% url 'books:book_delete' pk=book.id %}"
                                            title="Delete">
                                            <i class="ic-delete" ></i>
                                        </button> {% endcomment %}
                                    </div>
                                </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
        </main>
    {% endblock %}